@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url('../../public/fonts/manrope/manrope.ttf');
}

@font-face {
    font-family: 'Felidae';
    font-weight: 400;
    src: url('../../public/fonts/felidae/felidae.ttf');
}

body {
    font-family: 'Manrope', 'sans-serif';
    font-size: 14px;
    line-height: 24px;
}
